/*google fonts

font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;

*/

/*global settings*/

body{
	font-family: 'Lato' sans-serif;
}

/*font related*/

.question{
	margin-top: 40px;
}

.blacktext{
	color: #000;
}

.whitetext{
	color: #FFF;
}

.welcome{
	font-size: 72px;
}

p{
	margin: 0 15px;
}

.glyph:{
	font-size: 72px;
}

.bigtext{
	font-size: 72px;
	background-color: #2ecc71;
}

/*special coloring*/

.blackbg{
	background: #000;
}

/*Size, Shape and Positioning*/


.navbar-nav{
	line-height: 82px;
}

.header{
	position: fixed;
	z-index: 99;
	background-image: URL('../img/lightnoise.png');
	width: 100%;
	height: 17%;
		-webkit-box-shadow: 0 0 10px rgba(0,0,0, .5);
			box-shadow: 0 0 10px rgba(0,0,0, .5);
}

.centered{
    float: none;
    margin: 0 auto;
}
.spacer{
	height: 150px;
}

.bigspacer{
	height: 450px;
}
.realtall{
	margin-top: 75px;
}

.tall{
	margin-top: 50px;
}

.tallish{
	margin-top: 25px;
}

.reallong{
	margin-bottom: 75px;
}

.long{
	margin-bottom: 50px;
}

.longish{
	margin-bottom: 25px;
}

.horizontalspace{
	margin-left: 10px;
	margin-right: 10px;
}

.pushedright{
	margin-left: 100px;
}

.transparent{
	background: rgba(0,0,0,0);
	border: 0px ;
}

.panel{
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, .25);
          box-shadow: 0 1px 5px rgba(0, 0, 0, .25);
}

.writing-panel{
	height: 800px;
}

.bar{
	background-color: white;

	width: 100%;
}

#greensection{
	background-color: #2ecc71;
	height: 750px;
	width: 100%;
	margin-top: -20px;
}

.navbar .nav > li > a {
    color:  #000;
    font-size: 1.5em;
}

.navbar .nav > li {
	margin-left: 30px;
}

.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
  	text-decoration: none;
	color: #d02989;
	
}


.boa{

	background-image: URL('../img/boa.png');
	background-repeat:no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-position:center;
}

.swiz{

	background-image: URL('../img/swizzleboards.png');
	background-repeat:no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-position:center;
}

.vipercobra{

	background-image: URL('../img/vipercobra.png');
	background-repeat:no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-position:center;
}

.socialden{

	background-image: URL('../img/socialden.png');
	background-repeat:no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-position:center;
}

.nomad{

	background-image: URL('../img/nomad.png');
	background-repeat:no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-position:center;
}

.designtile{
	
}

.copytile{
	padding: 20px;
}

.translucenttile{

background-color: #000;
    background-color: rgba(208, 41, 137, .4);
    	-webkit-box-shadow: 0 0 10px rgba(0,0,0, .5);
			box-shadow: 0 0 10px rgba(0,0,0, .5);
}

/*badass stuff pulling from APIs*/

.mapholder{
	height: 770px;
	position: relative;
}

.mapbody{
	height:100%;
	margin: 0;
	padding: 0;
}

#map-canvas { 
	height: 100%; 
}
.mapstyle{
  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, .25);
          box-shadow: 0 1px 8px rgba(0, 0, 0, .25);
}

.mapoverlay{
	z-index: 99;
	position: absolute;
	background-color: white;
	height: 50px;
	width:;
}

/* al;sdkdfj */

.graphseparator{
	background-image: URL('../img/graphseparator.png');
	height: 600px;
	margin-top: -270px;
	background-repeat:no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-position:center;
}