
/* GLOBAL SETTINGS */




/* FONT RELATED */


a:hover {
	text-decoration: none;
}

body{

	line-height: 140%;
}

p{
	margin: 0 15px;
	font-size: 2em;
	line-height: 140%;
	font-family: 'Droid Serif', serif;
}

h1{
	font-size: 3.5em;
}

h2{
	font-size: 3.2em;
	font-family: 'Droid Sans', sans-serif;
}

h3{
	font-size: 2.5em;
	font-family: 'Droid Sans', sans-serif;
}

.h1{
	font-size: 3.5em;
}

.h2{
	font-size: 3em;
}

.h3{
	font-size: 2.5em;
}

/* FONT-BASED MEDIA QUERIES */

@media screen and (max-width: 568px) {
    h1 {
        font-size:3em;
        font-family: 'Droid Sans', sans-serif;
    }
}

@media screen and (max-width: 568px) {
    h2 {
        font-size:2.5em;
        font-family: 'Droid Sans', sans-serif;
    }
}


@media screen and (max-width: 568px) {
    h3 {
        font-size:2em;
        font-family: 'Droid Sans', sans-serif;
    }
}

@media screen and (max-width: 568px) {
    .h1 {
        font-size:3em;
    }
}

@media screen and (max-width: 568px) {
    .h2 {
        font-size:2.5em;
    }
}


@media screen and (max-width: 568px) {
    .h3 {
        font-size:2em;
    }
}


@media screen and (max-width: 568px) {
    p {
        font-size:1.5em;
        line-height: 140%;
        font-family: 'Droid Serif', serif;
    }
}

#welcome{
	font-size: 4em;
	font-family: 'Droid Sans', sans-serif;
	line-height: 140%;
	margin-top: 20px;
}

/*TEXT COLORING*/

.blacktext{
	color: #000;
}

.whitetext{
	color: #FFF;
}

.bluetext{
	color: #00aad4;
}

.whiteoverlay{
	background: rgba(255,255,255,.7);
}

.codeblue{
	color: #002ffb;
}

.codered{
	color: #c80000;
}

.btn-default{
	background: rgba(0,0,0,0);
	color: white;
}

/* DIV COLORING AND OPACITY */

.blackbg{
	background: #000;
}

.bluebg{
	background: #00aad4;
}

.transparent{
	background: rgba(0,0,0,0);
	border: 0px ;
}

.bgpatch{
	background: rgba(0,0,0,.9);
	width: 100%;

}

.bgpatchw{
	background: rgba(255,255,255,.9);
}

/* DIV SIZE, SHAPE, AND POSITIONING */

.centered{
    float:none;
    display:inline-block;
    vertical-align:middle;
    margin-right:-4px;
}

.center {
    vertical-align:middle;
    float:left;
}

/* VERTICAL SPACERS */

.biggestspacer{
	height: 550px;
}

.bigspacer{
	height: 450px;
}

.biggishspacer{
	height: 300px;
}

.spacer{
	height: 150px;
}

.smallspacer{
	height: 75px;
}

/* VERTICAL MARGINS */

.realrealtall{
	margin-top: 110px;
}

.realtall{
	margin-top: 75px;
}

.tall{
	margin-top: 50px;
}

.tallish{
	margin-top: 25px;
}

.reallong{
	margin-bottom: 75px;
}

.long{
	margin-bottom: 50px;
}

.longish{
	margin-bottom: 25px;
}

.horizontalspace{
	margin-left: 10px;
	margin-right: 10px;
}

/* GENERAL TILE STYLES */

.panel{
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, .25);
          box-shadow: 0 1px 5px rgba(0, 0, 0, .25);
}

.copytile{
	padding: 20px;
}

#righttile{
	margin-top: -740px;
}

#bottomtile{
	margin-top: -400px;
}

#workhard{
	margin-top: 75px;
	margin-bottom: 50px;
}

/* HEADER STYLES */

#titlesection { 
  background: url('../img/NY.jpg') no-repeat center center fixed; 
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

#gld{
	margin-top: 50px;
}

#logo{
	margin-top: 50px;
}

#scroll{
	margin-top: 50px;
}

/* SEPARATOR AND BACKGROUND SECTION STYLES */

#graphseparator{
	background-image: URL('../img/graphseparator2.png');
	height: 620px;
	margin-top: -200px;
	background-repeat:no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-position:center;
}

#crunch{
	background-color: #00aad4;
	color: #ffffff;
	margin-top: -30px;
}

#write{
  background: url('../img/laptop.jpg') no-repeat center center fixed; 
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

#design{
	background-color: #FFFFFF;
	height: 900px;
	width: 100%;
	margin-top: -20px;
}

#code{
  background: url('../img/computer.jpg') no-repeat center center fixed; 
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  height: 800px;

}

#footer{
	background: rgba(55, 69, 72, 1);
	margin-top: -20px;
}


/* EXTERNAL MAP ELEMENT STYLES */

#leftarrow{
	margin-left: -120px;
	margin-top: 160px;
	margin-bottom: -20px;
}

#downarrow{
	margin-left: 42%;
	margin-right: auto;
	margin-top: -30px;
	margin-bottom: -200px;
	z-index: 90;
	position: absolute;
}


/* BADASS API PULLAGE STUFF */

.mapholder{
	height: 1000px;
	position: relative;
}

.mapbody{
	height:100%;
	margin: 0;
	padding: 0;
}

#map-canvas { 
	height: 100%; 

}
.mapstyle{
  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, .25);
          box-shadow: 0 1px 8px rgba(0, 0, 0, .25);
}

.mapoverlay{
	z-index: 99;
	position: absolute;
	background-color: white;
	height: 50px;
	width:;
}

/*pace*/

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace.pace-inactive .pace-progress {
  display: none;
}

.pace .pace-progress {
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 0;
  height: 5rem;
  width: 5rem;
}

.pace .pace-progress:after {
  display: block;
  position: absolute;
  top: 0;
  right: .5rem;
  content: attr(data-progress-text);
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 100;
  font-size: 5rem;
  line-height: 1;
  text-align: right;
  color: rgba(0, 0, 0, 0.19999999999999996);
}